<ion-header>
  <ion-toolbar>
    <ion-button size="default" color="primary" strong="true" slot="start" class="botones" routerLink="/">
      <ion-icon name="caret-back-outline"></ion-icon>
       Back
    </ion-button>
    <ion-title>Profile</ion-title>
    <ion-button class="botones" size="default" color="danger" strong="true" slot="end" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
       Logout
    </ion-button>
  </ion-toolbar>

</ion-header>


<ion-content id="centered-content">
  <div>

    <div class="profile-container">
      <img src="assets/media/tanqueshadow.png" id="Imagen">
      <ion-icon id="fotouser" name="person-circle-outline" class="up"></ion-icon>
      <h2 class="up">Usuario: {{user?.name}}</h2>
      <h3 class="up">Título: {{user?.title}}</h3>
      <p class="up"><strong>Rango:</strong> {{user?.rank}}</p>
      <p class="up"><strong>Última Actividad:</strong> {{formattedLastActivity}}</p>
      <p class="up"><strong>KD Promedio:</strong> {{user?.kdpromedio}}</p>

    </div>
  </div>
</ion-content>
