<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-button size="default" color="danger" strong="true" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
       Cerrar Sesion
    </ion-button>
  </ion-toolbar>

</ion-header>




<ion-content id="centered-content">
  <div>
    <div class="profile-container">

      <h2>Usuario: {{user?.name}}</h2>
      <h3>Título: {{user?.title}}</h3>
      <p><strong>Rango:</strong> {{user?.rank}}</p>
      <p><strong>Última Actividad:</strong> {{formattedLastActivity}}</p>
      <p><strong>KD Promedio:</strong> {{user?.kdpromedio}}</p>

    </div>
  </div>
</ion-content>
