<ion-header>
  <ion-toolbar>
    <ion-button size="default" color="primary" strong="true" slot="start" routerLink="/">
      <ion-icon name="caret-back-outline"></ion-icon>
       Volver
    </ion-button>
    <ion-title>Zona de Expertos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="expert-container">
    <h2>Contenido Exclusivo para Expertos</h2>

    <p>Explora contenido exclusivo solo disponible para expertos:</p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Winrate por Países</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Consulta estadísticas detalladas del winrate por países.
      </ion-card-content>
      <ion-button expand="full" color="primary" href="https://wt.controlnet.space/" target="_blank">
        Ver Winrate
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Skins para tus Vehículos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Personaliza tus vehículos con las mejores skins disponibles.
      </ion-card-content>
      <ion-button expand="full" color="secondary" href="https://live.warthunder.com/feed/camouflages/" target="_blank">
        Ver Skins
      </ion-button>
    </ion-card>
  </div>
</ion-content>
