<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar Vehículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Filtro por País -->
    <ion-item>
      <ion-label>Pais</ion-label>
      <ion-select [(ngModel)]="selectedCountry" (ionChange)="onFiltersChange()">
        <ion-select-option *ngFor="let country of countries" [value]="country">{{ country }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Filtro por Tipo -->
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="selectedType" (ionChange)="onFiltersChange()">
        <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para borrar filtros -->
    <ion-item lines="none">
      <ion-button expand="block" color="medium" (click)="resetFilters()">
        Borrar filtros
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Indicador de Carga -->
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <!-- Resultados -->
  <ion-grid *ngIf="!isLoading && displayedVehicles.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let vehicle of displayedVehicles">
        <ion-card (click)="showVehicleDetails(vehicle)">
          <!-- Imagen del vehículo -->
          <img [src]="vehicle.images.image" alt="{{ vehicle.identifier }}" />

          <ion-card-header>
            <ion-card-title>{{ vehicle.identifier }}</ion-card-title>
          </ion-card-header>

          <!-- Información adicional -->
          <ion-card-content>
            <p><strong>País:</strong> {{ vehicle.country}}</p>
            <p><strong>BR Realista:</strong> {{ vehicle.realistic_br }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Detalles del Vehículo -->
  <div *ngIf="selectedVehicle" class="vehicle-details">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ selectedVehicle.identifier }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>País:</strong> {{ selectedVehicle.country }}</p>
        <p><strong>Tipo:</strong> {{ selectedVehicle.vehicle_type }}</p>
        <p><strong>BR Realista:</strong> {{ selectedVehicle.realistic_br }}</p>
        <p><strong>XP:</strong> {{ selectedVehicle.xp || 'N/A' }}</p>
        <p><strong>Tripulación:</strong> {{ selectedVehicle.crew_total_count }}</p>
        <p><strong>Valor:</strong> {{ selectedVehicle.value}}$</p>
        <p>
          <strong>Fecha de Lanzamiento:</strong>
          {{ selectedVehicle.release_date || 'No disponible' }}
        </p>
      </ion-card-content>
      <ion-button expand="block" (click)="closeVehicleDetails()">Cerrar</ion-button>
    </ion-card>
  </div>

  <!-- Mensaje Sin Resultados -->
  <ion-text *ngIf="!isLoading && displayedVehicles.length === 0">
    No se encontraron vehículos.
  </ion-text>

  <!-- Botón para cargar más -->
  <ion-button expand="full" (click)="loadMoreVehicles()" *ngIf="!isLoading && vehicles.length > displayedVehicles.length">
    Cargar más
  </ion-button>
</ion-content>

<app-navegador></app-navegador>
